:root {
    --dark-grey: #0d0e0f;
    --bg-title2: #7c0235;
    --c-title: #ede6db;
    --links: #ee6408;
    --dark-pink: #b62256;
    --titles: #7f1e47;
    --violet: #7e56eb9f;
    --violet2:#a446df;
    --violet3: #5f15a1;
    --pink:#fc4ed6;

    /* VARIABLES */
    --bg-color: #0f172a;
    --bg-color-title:#0f172abd;
    --font-color: #94a3b8;
    --border-style: thin solid #52525241;
    --celeste: #C4DDFF;
    --celeste2: #5dbeff;
    --celeste3:rgb(48, 154, 253);

    /* RESETEO */
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    font-weight: 200;
}


*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #94a3b8;
    width: 100%;
}


/*******************************
🍃      HEADER
********************************/

header {
    background-color: var(--bg-color-title);
    border-bottom: 1px solid #52525241;
    backdrop-filter: blur(5px);
    min-height: 10vh;
    max-height: auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header>h1 {
    letter-spacing: 0.2rem;
    color: var(--c-title);
    margin: 0 0 0 1.3rem;
    text-align: left;
    font-size: clamp(1rem, 2.5vw, 1.3em);
    text-shadow: 0.1rem 0.2rem 0.3rem #030001;

}
header > button{
    font-size: clamp(.6rem, 2vw, .8rem);
    margin-left: 1rem;
    margin-top:.3rem;
    background-color: var(--celeste);
    border: var(--border-style);
    padding: .4rem;
    border-radius: 20px;
    color:var(--dark-grey)
}

/*******************************
🍃    SECTION PRESENTACIÓN
********************************/
main > section:nth-child(1){
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%; 
    height: 90vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
    color: rgb(231, 228, 228);
}

main >section:nth-child(1)> h1{
    margin-bottom: 0;
    font-size: clamp(2rem, 4vw, 3.5rem);
}

main >section:nth-child(1)> h2{
    color:var(--celeste);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    margin: 0;
    font-weight: 500;
}
.color{
    color: var(--celeste2);
    font-weight: bold;
}
main >section:nth-child(1)>a{
    background-color: var(--celeste3);
    padding: .8rem;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    font-weight: 500;
}
/*******************************
🍃    SECTION PREVIA
********************************/

.section {
    width: 85%;
    margin: 0 auto;
    text-align: justify;
    font-family: "Lato", sans-serif;
}

.section>h2 {
    display: inline-block;
    margin-bottom: 0rem;
    font-size: 1.3rem;
    color: var(--titles);
}

.section>ul {
    list-style: none;
    line-height: 1.6rem;
}


/*******************************
🍃    SECTION CONTENIDO
********************************/

.site-content {
    width: 85%;
    margin: 0 auto;
    text-align: justify;
}

.site-content>h2 {
    font-size: 1.3rem;
    color: var(--titles);
}


/*******************************
🍃          FOOTER
********************************/

footer {
    min-height: 10vh;
    max-height: auto;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background-color: var(--dark-grey);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p {
    margin: 0;
    text-align: center;
}


/*******************************
🍃    OTRAS FUNCIONALIDADES
********************************/

a {
    color: var(--dark-pink);
    text-decoration: none;
}

a:hover {
    color: var(--links);
}

hr {
    width: 70%;
}